# Onlne Gaming Anxiety Analyzis

In [1]:
import pandas as pd

## Reading data

In [2]:
# Different encoding: 'utf-8', 'ISO-8859-1', 'latin1'
df = pd.read_csv('../data/GamingStudy_data.csv', encoding='ISO-8859-1')
df.head()

,S. No.,Timestamp,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,...,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,SWL_T,SPIN_T,Residence_ISO3,Birthplace_ISO3
0,1,42052.00437,0,0,0,0,1,0,0,Not difficult at all,...,USA,USA,Reddit,Singleplayer,Accept,1,23,5.0,USA,USA
1,2,42052.00680,1,2,2,2,0,1,0,Somewhat difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,8,16,33.0,USA,USA
2,3,42052.03860,0,2,2,0,0,3,1,Not difficult at all,...,Germany,Germany,Reddit,Singleplayer,Accept,8,17,31.0,DEU,DEU
3,4,42052.06804,0,0,0,0,0,0,0,Not difficult at all,...,USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0,USA,USA
4,5,42052.08948,2,1,2,2,2,3,2,Very difficult,...,USA,South Korea,Reddit,Multiplayer - online - with strangers,Accept,14,14,13.0,KOR,USA

## Simple data description

In [3]:
df.isnull().sum()

S. No.                 0
Timestamp              0
GAD1                   0
GAD2                   0
GAD3                   0
GAD4                   0
GAD5                   0
GAD6                   0
GAD7                   0
GADE                 649
SWL1                   0
SWL2                   0
SWL3                   0
SWL4                   0
SWL5                   0
Game                   0
Platform               0
Hours                 30
earnings               0
whyplay                0
League              1852
highestleague      13464
streams              100
SPIN1                124
SPIN2                154
SPIN3                140
SPIN4                159
SPIN5                166
SPIN6                156
SPIN7                138
SPIN8                144
SPIN9                158
SPIN10               160
SPIN11               187
SPIN12               168
SPIN13               187
SPIN14               156
SPIN15               147
SPIN16               147
SPIN17               175
Narcissism            23
Gender                 0
Age                    0
Work                  38
Degree              1577
Birthplace             0
Residence              0
Reference             15
Playstyle              0
accept               414
GAD_T                  0
SWL_T                  0
SPIN_T               650
Residence_ISO3       110
Birthplace_ISO3      121
dtype: int64

In [4]:
df.dtypes

S. No.               int64
Timestamp          float64
GAD1                 int64
GAD2                 int64
GAD3                 int64
GAD4                 int64
GAD5                 int64
GAD6                 int64
GAD7                 int64
GADE                object
SWL1                 int64
SWL2                 int64
SWL3                 int64
SWL4                 int64
SWL5                 int64
Game                object
Platform            object
Hours              float64
earnings            object
whyplay             object
League              object
highestleague      float64
streams            float64
SPIN1              float64
SPIN2              float64
SPIN3              float64
SPIN4              float64
SPIN5              float64
SPIN6              float64
SPIN7              float64
SPIN8              float64
SPIN9              float64
SPIN10             float64
SPIN11             float64
SPIN12             float64
SPIN13             float64
SPIN14             float64
SPIN15             float64
SPIN16             float64
SPIN17             float64
Narcissism         float64
Gender              object
Age                  int64
Work                object
Degree              object
Birthplace          object
Residence           object
Reference           object
Playstyle           object
accept              object
GAD_T                int64
SWL_T                int64
SPIN_T             float64
Residence_ISO3      object
Birthplace_ISO3     object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13464 entries, 0 to 13463
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   S. No.           13464 non-null  int64
 1   Timestamp        13464 non-null  float64
 2   GAD1             13464 non-null  int64
 3   GAD2             13464 non-null  int64
 4   GAD3             13464 non-null  int64
 5   GAD4             13464 non-null  int64
 6   GAD5             13464 non-null  int64
 7   GAD6             13464 non-null  int64
 8   GAD7             13464 non-null  int64
 9   GADE             12815 non-null  object
 10  SWL1             13464 non-null  int64
 11  SWL2             13464 non-null  int64
 12  SWL3             13464 non-null  int64
 13  SWL4             13464 non-null  int64
 14  SWL5             13464 non-null  int64
 15  Game             13464 non-null  object
 16  Platform         13464 non-null  object
 17  Hours            13434 non-null  float64
 18  earnings         13464 non-null  object
 19  whyplay          13464 non-null  object
 20  League           11612 non-null  object
 21  highestleague    0 non-null      float64
 22  streams          13364 non-null  float64
 23  SPIN1            13340 non-null  float64
 24  SPIN2            13310 non-null  float64
 25  SPIN3            13324 non-null  float64
 26  SPIN4            13305 non-null  float64
 27  SPIN5            13298 non-null  float64
 28  SPIN6            13308 non-null  float64
 29  SPIN7            13326 non-null  float64
 30  SPIN8            13320 non-null  float64
 31  SPIN9            13306 non-null  float64
 32  SPIN10           13304 non-null  float64
 33  SPIN11           13277 non-null  float64
 34  SPIN12           13296 non-null  float64
 35  SPIN13           13277 non-null  float64
 36  SPIN14           13308 non-null  float64
 37  SPIN15           13317 non-null  float64
 38  SPIN16           13317 non-null  float64
 39  SPIN17           13289 non-null  float64
 40  Narcissism       13441 non-null  float64
 41  Gender           13464 non-null  object
 42  Age              13464 non-null  int64
 43  Work             13426 non-null  object
 44  Degree           11887 non-null  object
 45  Birthplace       13464 non-null  object
 46  Residence        13464 non-null  object
 47  Reference        13449 non-null  object
 48  Playstyle        13464 non-null  object
 49  accept           13050 non-null  object
 50  GAD_T            13464 non-null  int64
 51  SWL_T            13464 non-null  int64
 52  SPIN_T           12814 non-null  float64
 53  Residence_ISO3   13354 non-null  object
 54  Birthplace_ISO3  13343 non-null  object
dtypes: float64(23), int64(16), object(16)
memory usage: 5.6+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
S. No.,13464.0,7096.839201,4114.478220,1.00000,3532.750000,7087.500000,10654.250000,14250.00000
Timestamp,13464.0,42054.841222,0.272948,42052.00437,42054.716548,42054.800675,42054.932112,42058.36375
GAD1,13464.0,0.860963,0.926542,0.00000,0.000000,1.000000,1.000000,3.00000
GAD2,13464.0,0.673351,0.915724,0.00000,0.000000,0.000000,1.000000,3.00000
GAD3,13464.0,0.965761,0.982776,0.00000,0.000000,1.000000,2.000000,3.00000
GAD4,13464.0,0.724079,0.921971,0.00000,0.000000,0.000000,1.000000,3.00000
GAD5,13464.0,0.488042,0.837014,0.00000,0.000000,0.000000,1.000000,3.00000
GAD6,13464.0,0.911022,0.931168,0.00000,0.000000,1.000000,1.000000,3.00000
GAD7,13464.0,0.588755,0.894408,0.00000,0.000000,0.000000,1.000000,3.00000
SWL1,13464.0,3.720440,1.736264,1.00000,2.000000,4.000000,5.000000,7.00000
SWL2,13464.0,4.602050,1.696276,1.00000,3.000000,5.000000,6.000000,7.00000
SWL3,13464.0,4.345440,1.809430,1.00000,3.000000,5.000000,6.000000,7.00000
SWL4,13464.0,3.762032,1.818136,1.00000,2.000000,4.000000,5.000000,7.00000
SWL5,13464.0,3.358883,1.916319,1.00000,2.000000,3.000000,5.000000,7.00000
Hours,13434.0,22.247357,70.284502,0.00000,12.000000,20.000000,28.000000,8000.00000
highestleague,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
streams,13364.0,11.233538,78.549209,0.00000,4.000000,8.000000,15.000000,9001.00000
SPIN1,13340.0,0.856897,0.907351,0.00000,0.000000,1.000000,1.000000,4.00000
SPIN2,13310.0,1.210969,1.144054,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN3,13324.0,1.095392,1.164982,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN4,13305.0,1.682976,1.229730,0.00000,1.000000,2.000000,3.000000,4.00000
SPIN5,13298.0,1.248985,1.221828,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN6,13308.0,1.348287,1.279251,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN7,13326.0,1.050503,1.221171,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN8,13320.0,1.405030,1.372777,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN9,13306.0,1.567338,1.383539,0.00000,0.000000,1.000000,3.000000,4.00000
SPIN10,13304.0,0.917769,1.125849,0.00000,0.000000,1.000000,1.000000,4.00000
SPIN11,13277.0,1.827446,1.488372,0.00000,0.000000,2.000000,3.000000,4.00000
SPIN12,13296.0,0.892148,1.158235,0.00000,0.000000,0.000000,1.000000,4.00000
SPIN13,13277.0,0.538827,0.944180,0.00000,0.000000,0.000000,1.000000,4.00000
SPIN14,13308.0,1.252405,1.207463,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN15,13317.0,1.411054,1.349874,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN16,13317.0,0.620635,0.961853,0.00000,0.000000,0.000000,1.000000,4.00000
SPIN17,13289.0,0.935962,1.180456,0.00000,0.000000,0.000000,2.000000,4.00000
Narcissism,13441.0,2.027677,1.061842,1.00000,1.000000,2.000000,3.000000,5.00000
Age,13464.0,20.930407,3.300897,18.00000,18.000000,20.000000,22.000000,63.00000
GAD_T,13464.0,5.211973,4.713267,0.00000,2.000000,4.000000,8.000000,21.00000
SWL_T,13464.0,19.788844,7.229243,5.00000,14.000000,20.000000,26.000000,35.00000
SPIN_T,12814.0,19.848525,13.467493,0.00000,9.000000,17.000000,28.000000,68.00000

## Simple value analyzis

### Value count

In [7]:
for i in df:
    print(f'===== {i} =====')
    print(f'Value count: {df[i].value_counts()}')
    print(f'Unique values: {df[i].unique()[:30]}')
    print(f'None-unique values: {df[i].nunique()}')
    print('----------------\n')

===== S. No. =====
Value count: S. No.
1        1
9474     1
9449     1
9450     1
9451     1
        ..
4707     1
4708     1
4709     1
4711     1
14250    1
Name: count, Length: 13464, dtype: int64
Unique values: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30]
None-unique values: 13464
----------------

===== Timestamp =====
Value count: Timestamp
42054.67398    5
42054.67198    5
42054.80137    4
42054.95715    4
42054.64618    4
              ..
42054.75957    1
42054.75961    1
42054.75963    1
42054.75966    1
42058.36375    1
Name: count, Length: 11734, dtype: int64
Unique values: [42052.00437 42052.0068  42052.0386  42052.06804 42052.08948 42052.13119
 42052.14622 42052.1593  42052.19737 42052.22995 42052.24204 42052.26022
 42052.27609 42052.30804 42052.39588 42052.42542 42052.46977 42052.47327
 42052.54144 42052.60941 42052.65299 42052.65303 42052.66261 42052.66336
 42052.66394 42052.66637 42052.67053 42052.67249 42052.67252 42052.68109]
None-unique values: 11734
----------------

===== GAD1 =====
Value count: GAD1
0    5694
1    5099
2    1520
3    1151
Name: count, dtype: int64
Unique values: [0 1 2 3]
None-unique values: 4
----------------

===== GAD2 =====
Value count: GAD2
0    7616
1    3576
2    1326
3     946
Name: count, dtype: int64
Unique values: [0 2 1 3]
None-unique values: 4
----------------

===== GAD3 =====
Value count: GAD3
0    5319
1    4708
2    2016
3    1421
Name: count, dtype: int64
Unique values: [0 2 3 1]
None-unique values: 4
----------------

===== GAD4 =====
Value count: GAD4
0    7129
1    3884
2    1488
3     963
Name: count, dtype: int64
Unique values: [0 2 3 1]
None-unique values: 4
----------------

===== GAD5 =====
Value count: GAD5
0    9236
1    2576
2     961
3     691
Name: count, dtype: int64
Unique values: [1 0 2 3]
None-unique values: 4
----------------

===== GAD6 =====
Value count: GAD6
0    5386
1    4993
2    1982
3    1103
Name: count, dtype: int64
Unique values: [0 1 3 2]
None-unique values: 4
----------------

===== GAD7 =====
Value count: GAD7
0    8444
1    2961
2    1211
3     848
Name: count, dtype: int64
Unique values: [0 1 2 3]
None-unique values: 4
----------------

===== GADE =====
Value count: GADE
Not difficult at all    6236
Somewhat difficult      5148
Very difficult          1012
Extremely difficult      419
Name: count, dtype: int64
Unique values: ['Not difficult at all' 'Somewhat difficult' 'Very difficult' nan
 'Extremely difficult']
None-unique values: 4
----------------

===== SWL1 =====
Value count: SWL1
2    3043
5    2727
6    2218
3    2099
4    1625
1    1333
7     419
Name: count, dtype: int64
Unique values: [3 2 5 7 6 1 4]
None-unique values: 7
----------------

===== SWL2 =====
Value count: SWL2
6    3715
5    2869
4    1724
3    1660
2    1447
7    1418
1     631
Name: count, dtype: int64
Unique values: [5 6 2 4 3 7 1]
None-unique values: 7
----------------

===== SWL3 =====
Value count: SWL3
6    3417
5    2589
3    1785
2    1756
4    1626
7    1233
1    1058
Name: count, dtype: int64
Unique values: [5 2 4 3 6 7 1]
None-unique values: 7
----------------

===== SWL4 =====
Value count: SWL4
2    2738
5    2396
6    2068
3    1992
4    1864
1    1581
7     825
Name: count, dtype: int64
Unique values: [5 2 3 6 1 7 4]
None-unique values: 7
----------------

===== SWL5 =====
Value count: SWL5
2    2878
1    2740
3    2316
5    1690
6    1557
4    1331
7     952
Name: count, dtype: int64
Unique values: [5 1 2 3 7 6 4]
None-unique values: 7
----------------

===== Game =====
Value count: Game
League of Legends      11314
Other                   1021
Starcraft 2              345
Counter Strike           318
World of Warcraft        152
Hearthstone              101
Diablo 3                  89
Heroes of the Storm       41
Guild Wars 2              37
Skyrim                    28
Destiny                   18
Name: count, dtype: int64
Unique values: ['Skyrim' 'Other' 'World of Warcraft' 'League of Legends' 'Starcraft 2'
 'Counter Strike' 'Destiny' 'Diablo 3' 'Heroes of the Storm' 'Hearthstone'
 'Guild Wars 2']
None-unique values: 11
----------------

===== Platform =====
Value count: Platform
PC                         13219
Console (PS, Xbox, ...)      222
Smartphone / Tablet           23
Name: count, dtype: int64
Unique values: ['Console (PS, Xbox, ...)' 'PC' 'Smartphone / Tablet']
None-unique values: 3
----------------

===== Hours =====
Value count: Hours
20.0     2293
10.0     1375
30.0     1186
15.0     1115
25.0      831
         ...
420.0       1
110.0       1
112.0       1
96.0        1
150.0       1
Name: count, Length: 84, dtype: int64
Unique values: [15.  8.  0. 20.  4. 30. 25.  2. 14. 10.  6.  7. 60. 21.  5. 40.  9. 18.
 12. nan 11.  1. 45. 16. 50. 28. 42. 80. 17. 13.]
None-unique values: 84
----------------

===== earnings =====
Value count: earnings
I play for fun                                                                               12112
I play mostly for fun but earn a little on the side (tournament winnings, streaming, etc)      990
I earn a living by playing this game                                                            48
I play to win                                                                                    3
i try                                                                                            2
                                                                                             ...
I play for fun, but if there's an opportunity to earn some money, I would love to.               1
Keep in touch w/ friends                                                                         1
I Play for fun and working on making earn out of it.                                             1
I play ranked mostly                                                                             1
Strive to be Pro                                                                                 1
Name: count, Length: 314, dtype: int64
Unique values: ['I play for fun'
 'I play mostly for fun but earn a little on the side (tournament winnings, streaming, etc)'
 'for fun and to get better'
 'I intend to do both if I become good enough at some point.'
 'for fun and improvement'
 'i play for fun atm, but i pretend to earn a little by streaming.'
 'I earn a living by playing this game' 'Escapism'
 'I play to try and get to the point of making money.'
 'I play to escape life' 'Want to be a shoutcaster'
 'I play to forget about real life' 'Play for fun and to get better at it'
 'I play for the competitive aspect'
 'play for fun, would like to earn money for it'
 'wants money but dont get it.'
 'I play with unrealistic dreams of making money' 'Eloboosting.'
 "I think I might be addicted in the way that I think playing will be fun, but when I play I realize it's not."
 "I love it. I play for fun, but League is so much more than just the fun of playing it. The community, Reddit, LCS, everything. It's just so big and beautiful."
 'boosting idiots because they suck and i can make living from it.'
 'Eloboosting service, Yes' 'want to play for money'
 'I play for the competitive edge. I enjoy competition.'
 "I fucking hate this game so much, I only play it because its the only game I'm good at, and my friends play."
 'I play as a part in socializing with friends far away'
 'I play to suppress memories/feelings'
 'I play for fun hoping to one day make money from it' 'Boredom'
 "I'm trying to get money for playing it"]
None-unique values: 314
----------------

===== whyplay =====
Value count: whyplay
having fun                                                                          5289
improving                                                                           4927
winning                                                                             2091
relaxing                                                                             654
All of the above                                                                      26
                                                                                    ...
Making my brain go numb                                                                1
Combination: Winning / Having fun                                                      1
Improving + Fun                                                                        1
to be occupied                                                                         1
Mental priority is Fun>Improve>Win, actual priority once in game Win>Improve>Fun       1
Name: count, Length: 407, dtype: int64
Unique values: ['having fun' 'improving' 'relaxing' 'winning' 'improving, having fun'
 'All'
 "I play it as I watch TV or movies.  I've gone through many a Netflix binge with Isaac."
 'Reaching goal i.e. GM '
 'Improving AND having fun (kinda wish I could pick more than one)'
 'all of the above' 'passing the time' 'having fun and improving'
 'Forgetting troubles' 'All of them' 'Being with friends'
 'getting good loot' 'have fun and win' 'Winning 55% improving 45%'
 'Wasting time' 'talking to irl friends'
 'Forgetting about my drug addiction'
 'Having fun and improving at the same time' 'Improving and having fun.'
 'improving while having fun' 'All of the above!' 'socializing'
 'all above' 'playing well' 'winning + having fun' 'having a distraction']
None-unique values: 407
----------------

===== League =====
Value count: League
Gold                                                 970
Silver                                               650
Platinum                                             635
Diamond                                              549
gold                                                 316
                                                    ...
in cs:go double ak, in league gold                     1
Silver 1 (CS) Silver 5 (lol)                           1
Not played ranked yet, was Platinum 2 last season      1
Top team(DP2), Plat 3(LoL)                             1
AHGL                                                   1
Name: count, Length: 1454, dtype: int64
Unique values: [nan '-' 'Gold' 'none' 'na' 'Diamond/Master' 'Not Applicable.' 'Bronze'
 'Silver 4' 'N/a' 'Gold Nova' 'Unranked - Low ELO' 'Not applicable' '0'
 'Silver 2' 'not applicable' "I don't know what that means" '/' 'bad' '_'
 'Legendary Eagle at CS, no league yet at LoL' 'Global top 0.5%'
 'Bronze 5' 'potato' 'diamond' 'Diamond' 'Master' 'SilverII' 'Platinum 3'
 'gold 4']
None-unique values: 1454
----------------

===== highestleague =====
Value count: Series([], Name: count, dtype: int64)
Unique values: [nan]
None-unique values: 0
----------------

===== streams =====
Value count: streams
10.0     2181
5.0      1670
20.0     1182
2.0       990
15.0      953
         ...
168.0       1
44.0        1
36.0        1
41.0        1
54.0        1
Name: count, Length: 65, dtype: int64
Unique values: [ 0.  2.  5.  1.  8. 10.  4.  3. 20. 35. 18.  6. 25. 15. 50. 14. 40. 30.
 16. nan 12.  7. 80. 90.  9. 11. 41. 21. 42. 29.]
None-unique values: 65
----------------

===== SPIN1 =====
Value count: SPIN1
0.0    5677
1.0    4665
2.0    2363
3.0     500
4.0     135
Name: count, dtype: int64
Unique values: [ 1.  2.  0.  3.  4. nan]
None-unique values: 5
----------------

===== SPIN2 =====
Value count: SPIN2
0.0    4579
1.0    3883
2.0    2793
3.0    1571
4.0     484
Name: count, dtype: int64
Unique values: [ 0.  1.  2.  3.  4. nan]
None-unique values: 5
----------------

===== SPIN3 =====
Value count: SPIN3
0.0    5337
1.0    3863
2.0    2285
3.0    1194
4.0     645
Name: count, dtype: int64
Unique values: [ 0.  1.  2.  4.  3. nan]
None-unique values: 5
----------------

===== SPIN4 =====
Value count: SPIN4
1.0    3672
2.0    3192
0.0    2692
3.0    2660
4.0    1089
Name: count, dtype: int64
Unique values: [ 1.  3.  2.  0.  4. nan]
None-unique values: 5
----------------

===== SPIN5 =====
Value count: SPIN5
0.0    4677
1.0    3853
2.0    2333
3.0    1650
4.0     785
Name: count, dtype: int64
Unique values: [ 0.  2.  3.  1.  4. nan]
None-unique values: 5
----------------

===== SPIN6 =====
Value count: SPIN6
0.0    4463
1.0    3659
2.0    2277
3.0    1906
4.0    1003
Name: count, dtype: int64
Unique values: [ 0.  3.  4.  1.  2. nan]
None-unique values: 5
----------------

===== SPIN7 =====
Value count: SPIN7
0.0    6113
1.0    3218
2.0    1916
3.0    1367
4.0     712
Name: count, dtype: int64
Unique values: [ 1.  2.  0.  4.  3. nan]
None-unique values: 5
----------------

===== SPIN8 =====
Value count: SPIN8
0.0    4768
1.0    3101
2.0    2204
3.0    1782
4.0    1465
Name: count, dtype: int64
Unique values: [ 0.  3.  1.  4.  2. nan]
None-unique values: 5
----------------

===== SPIN9 =====
Value count: SPIN9
0.0    4009
1.0    3158
2.0    2393
3.0    2073
4.0    1673
Name: count, dtype: int64
Unique values: [ 0.  4.  2.  3.  1. nan]
None-unique values: 5
----------------

===== SPIN10 =====
Value count: SPIN10
0.0    6412
1.0    3647
2.0    1710
3.0     997
4.0     538
Name: count, dtype: int64
Unique values: [ 0.  1.  3.  2.  4. nan]
None-unique values: 5
----------------

===== SPIN11 =====
Value count: SPIN11
0.0    3574
1.0    2730
4.0    2596
3.0    2395
2.0    1982
Name: count, dtype: int64
Unique values: [ 0.  3.  1.  4.  2. nan]
None-unique values: 5
----------------

===== SPIN12 =====
Value count: SPIN12
0.0    6871
1.0    3196
2.0    1654
3.0     942
4.0     633
Name: count, dtype: int64
Unique values: [ 0.  3.  1.  4.  2. nan]
None-unique values: 5
----------------

===== SPIN13 =====
Value count: SPIN13
0.0    9146
1.0    2096
2.0    1304
3.0     474
4.0     257
Name: count, dtype: int64
Unique values: [ 0.  1. nan  2.  3.  4.]
None-unique values: 5
----------------

===== SPIN14 =====
Value count: SPIN14
0.0    4501
1.0    4127
2.0    2264
3.0    1652
4.0     764
Name: count, dtype: int64
Unique values: [ 1.  3.  2.  0.  4. nan]
None-unique values: 5
----------------

===== SPIN15 =====
Value count: SPIN15
0.0    4557
1.0    3351
2.0    2128
3.0    1940
4.0    1341
Name: count, dtype: int64
Unique values: [ 0.  3.  4.  1.  2. nan]
None-unique values: 5
----------------

===== SPIN16 =====
Value count: SPIN16
0.0    8281
1.0    2911
2.0    1280
3.0     586
4.0     259
Name: count, dtype: int64
Unique values: [ 1.  4.  0.  3.  2. nan]
None-unique values: 5
----------------

===== SPIN17 =====
Value count: SPIN17
0.0    6738
1.0    3038
2.0    1738
3.0    1176
4.0     599
Name: count, dtype: int64
Unique values: [ 0.  2.  1.  3.  4. nan]
None-unique values: 5
----------------

===== Narcissism =====
Value count: Narcissism
1.0    5259
2.0    4360
3.0    2341
4.0    1153
5.0     328
Name: count, dtype: int64
Unique values: [ 1.  4.  2.  5.  3. nan]
None-unique values: 5
----------------

===== Gender =====
Value count: Gender
Male      12699
Female      713
Other        52
Name: count, dtype: int64
Unique values: ['Male' 'Female' 'Other']
None-unique values: 3
----------------

===== Age =====
Value count: Age
18    3588
19    2159
20    1855
21    1507
22    1135
23     872
24     660
25     514
26     338
27     231
28     157
29     119
30      89
31      58
32      53
33      37
34      19
35      17
36      16
38       8
39       6
42       6
37       5
41       4
40       3
50       3
44       2
63       1
49       1
56       1
Name: count, dtype: int64
Unique values: [25 41 32 28 19 24 29 23 27 21 18 35 30 22 20 33 26 36 40 34 50 39 31 63
 38 37 42 49 44 56]
None-unique values: 30
----------------

===== Work =====
Value count: Work
Student at college / university    7073
Employed                           2734
Student at school                  2229
Unemployed / between jobs          1390
Name: count, dtype: int64
Unique values: ['Unemployed / between jobs' 'Employed' 'Student at college / university'
 'Student at school' nan]
None-unique values: 4
----------------

===== Degree =====
Value count: Degree
High school diploma (or equivalent)    8560
BachelorÂ (or equivalent)               2687
MasterÂ (or equivalent)                  546
Ph.D., Psy. D., MD (or equivalent)       94
Name: count, dtype: int64
Unique values: ['Bachelor\xa0(or equivalent)' 'High school diploma (or equivalent)'
 'Ph.D., Psy. D., MD (or equivalent)' 'Master\xa0(or equivalent)' nan]
None-unique values: 4
----------------

===== Birthplace =====
Value count: Birthplace
USA              4261
Germany          1376
UK                940
Canada            842
Netherlands       503
                 ...
Liechtenstein       1
St Vincent          1
Gibraltar           1
Brunei              1
Macau               1
Name: count, Length: 126, dtype: int64
Unique values: ['USA' 'Germany' 'Finland' 'Canada' 'Australia' 'UK'
 'Bosnia and Herzegovina' 'South Korea' 'Romania' 'Sweden' 'Greece'
 'Ireland' 'Switzerland' 'Turkey' 'Bulgaria' 'Belgium' 'Latvia' 'Austria'
 'South Africa' 'Croatia' 'India' 'Netherlands' 'Denmark' 'Portugal'
 'France' 'Argentina' 'Colombia' 'Estonia' 'Russia' 'Slovakia']
None-unique values: 126
----------------

===== Residence =====
Value count: Residence
USA              4569
Germany          1413
UK               1032
Canada            994
Netherlands       506
                 ...
Jamaica             1
Liechtenstein       1
Indonesia           1
Kazakhstan          1
Palestine           1
Name: count, Length: 109, dtype: int64
Unique values: ['USA' 'Germany' 'South Korea' 'Japan' 'Finland' 'Canada' 'Australia' 'UK'
 'Bosnia and Herzegovina' 'Ireland' 'Malaysia' 'Romania' 'Sweden' 'Greece'
 'Turkey' 'Belgium' 'Latvia' 'Austria' 'South Africa' 'Croatia'
 'Switzerland' 'India' 'Netherlands' 'Denmark' 'Portugal' 'France'
 'Argentina' 'Estonia' 'Russia' 'Czech Republic']
None-unique values: 109
----------------

===== Reference =====
Value count: Reference
Reddit            13324
Other                67
TeamLiquid.net       55
CrowdFlower           3
Name: count, dtype: int64
Unique values: ['Reddit' 'Other' 'TeamLiquid.net' 'CrowdFlower' nan]
None-unique values: 4
----------------

===== Playstyle =====
Value count: Playstyle
Multiplayer - online - with real life friends                                   5564
Multiplayer - online - with strangers                                           4134
Multiplayer - online - with online acquaintances or teammates                   2652
Singleplayer                                                                     762
Multiplayer - offline (people in the same room)                                   48
                                                                                ...
Online with friends, both real life friends and friends I've made online.          1
Multiplayer - online - with strangers against A.I.                                 1
Multiplayer equally with strangers or real life friends                            1
with friend and stragers in same team                                              1
I usually play online with my real life friends and the internet ones alike.       1
Name: count, Length: 298, dtype: int64
Unique values: ['Singleplayer' 'Multiplayer - online - with strangers'
 'Multiplayer - online - with online acquaintances or teammates'
 'Multiplayer - online - with real life friends'
 'Multiplayer - offline (people in the same room)' 'all of the above'
 'Multiplayer - Online - With real friends, and with online acquaintances, and strangers'
 'With strangers and friends' 'Singleplayer - online' 'watching'
 ' Multiplayer - online - with online acquaintances or teammates and with real life friends'
 'Multiplayer - online with friends, teammates and strangers'
 'Sometimes alone (Ranked), sometimes with friends. Everytime there are strangers in my game ofc'
 'Multiplayer online, with friends (sometimes in the same room), sometimes with strangers.'
 'I prefer playing with RLF but I also play it to make a living.'
 'Multiplayer - online - with strangers or real life friends'
 'Multiplayer - online with online team mates and real life friends'

## Data cleaning

In [8]:
df.shape

(13464, 55)

Adding a new column to the **DataFrame**, by combinding 'streaming' and 'Hours' to 'streamed_hours'

In [9]:
df['streamed_hours'] = df['streams'] + df['Hours']